<!-- start custom footer snippets -->

    {% comment %} <li> {% endcomment %}
    <!-- LinkedIn -->
    <p><a href="https://www.linkedin.com/in/dylan-sam/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> LinkedIn </p> 
    <!-- Github -->
    <p><a href="https://github.com/dsam99"><i class="fab fa-github" aria-hidden="true"></i> </a> Github </p> 
    <!-- Email -->
    <p><i class="fa fa-envelope" aria-hidden="true"></i>  (firstname)_(lastname)(at)brown.edu</p>

<!-- end custom footer snippets -->