<!-- start custom footer snippets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<div class="footer">


    <p>
	    <!-- Email -->
	    <!-- <i class="fa fa-envelope" aria-hidden="true"></i> dylansam (at) andrew.cmu.edu</p> -->
    	<i class="fa fa-envelope" aria-hidden="true"></i> dylan_sam (at) brown.edu &nbsp;&nbsp;
	    <!-- Google Scholar -->
	    <i class="ai ai-google-scholar-square"></i> <a href="https://scholar.google.com/citations?user=43ffAwcAAAAJ&hl=en">Google Scholar</a> &nbsp;&nbsp;
	    <!-- LinkedIn -->
	    <i class="fab fa-linkedin-in" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/dylan-sam/">LinkedIn</a> &nbsp;&nbsp;
	    <!-- Github -->
	    <i class="fab fa-github" aria-hidden="true"></i> <a href="https://github.com/dsam99">Github</a>
    </p>

</div>
<!-- end custom footer snippets -->