<!-- start custom footer snippets -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<div class="footer">

    <!-- Email -->
    <!-- <p><i class="fa fa-envelope" aria-hidden="true"></i> dylansam (at) andrew.cmu.edu</p> -->
    <p><i class="fa fa-envelope" aria-hidden="true"></i> dylan_sam (at) brown.edu</p>

    <!-- Google Scholar -->
    <p><i class="ai ai-google-scholar-square"></i><a href="https://scholar.google.com/citations?user=43ffAwcAAAAJ&hl=en"> Google Scholar</a></p>
    <!-- LinkedIn -->
    <p><i class="fab fa-linkedin-in" aria-hidden="true"></i><a href="https://www.linkedin.com/in/dylan-sam/"> LinkedIn</a></p>
    <!-- Github -->
    <p><i class="fab fa-github" aria-hidden="true"></i><a href="https://github.com/dsam99">Github</a></p>

</div>
<!-- end custom footer snippets -->