---
layout: default
author_profile: false
---

<div class="teaching">

<h2 class="teaching-title">Teaching</h2>
<h3>Brown Courses:</h3>
	<ul>
		<li> Machine Learning (Spring 2019) | Head TA </li>
		<li> Deep Learning (Fall 2019) | Undergraduate TA </li>
		<li> Data Structures and Algorithms (Spring 2019) | Head TA </li>
		<li> CS for Humanities and Social Sciences (Fall 2018) | Head TA </li>
	</ul>
</div>

<div class="projects">

<h2 class="projects-title">Projects</h2>

		<p class="title"> CensusUsage | MIT Program of Information Science </p>
		<p>
			CensusUsage is an open-source research project that I worked at the MIT Program of Information Science. 
			The project incorporates three different sources of data regarding the ACS survey: online news articles, 
			tweets through the Twitter API, and articles from the JSTOR academic journal database. 
			You can find the github repository <a href="https://github.com/MIT-Informatics/CensusUsage">here</a>.
		</p>

		<hr>

		<p class="title"> GeoCash | HackMIT 2018 : Plaid API 1st Place Winner </p>
		<p>
			Our project GeoCash won first place at HackMIT 2018 for the best usage of Plaid's API.
			GeoCash is a Meteor.js based webapp to help people to easily view where they are spending their money, through a
			location-based visualization. We were inspired by Plaid's challenge at HackMIT to "help people
			make more sense of their financial lives."
			The project is located <a href="https://devpost.com/software/geocash-5h0zlt">here</a> and the github repo is 
			<a href="https://github.com/shawnaness/geocash"> here</a>.
		</p>
		<hr>

		<p class="title"> Timewalk | HackHarvard 2019 </p>
		<p>
			TimeWalk is a mobile app that utilizes the HERE API to help keep track of where a user has traveled during a day.
			The mobile app creates a history of locations that the user has visited, including pictures, times, and place names. 
			The project is located <a href="https://github.com/dsam99/timewalk">here</a> and a demo is located 
			<a href="https://www.youtube.com/watch?time_continue=1&v=0VUWbDo44t0"> here</a>.
		</p>

</div>
