---
layout: default
author_profile: false
---

<div class="teaching">

<h1 class="teaching-title">Teaching</h1>

		<p class="title"> Machine Learning (Spring 2019) | Head TA </p>
		<p>
			I am currently a Head TA for CSCI 1420: Machine Learning (~ projected 200 students). My upper level course 
			covers machine learning, learning theory, supervised and unsupervised learning, and various different algorithms.  
		</p>

		<hr>

		<p class="title"> Deep Learning (Fall 2019) | Undergraduate TA </p>
		<p>
			I am currently an undergraduate teaching assistant for CSCI 1470/2470: Deep Learning (350 students). My class is an 
			undergraduate and graduate class that introduces deep learning, different models, and theory. I developed the 
			message passing neural network assignment. I hold weekly TA hours and Labs and help grade assignments. 
		</p>

		<hr>

		<p class="title"> Data Structures and Algorithms (Spring 2019) | Head TA </p>
		<p>
			I was a head teaching assistant for CSCI 0180: An Integrated Introduction to Computer Science (180 students). My class 
			focused on introducing Object-Oriented programming and teaching data structures and algorithms in both Java and
			Scala. I managed 20 undergraduate TAs, organized meetings, developed course materials, and held TA hours. I oversaw the 
			grade database and the creation of weekly homework assignments. 
		</p>

		<hr>

		<p class="title"> CS for Humanities and Social Sciences (Fall 2018) | Head TA </p>
		<p>
			I was a head teaching assistant for CSCI 0030: Introduction to Computation for the Humanities and Social Sciences (26 students), 
			which taught data analysis and language modeling to humanities and social science students. I managed 4 undergraduate TAs and 
			developed a significant portion of the course. Since the course was new, I designed roughly half of the homework assignments
			and projects. I held TA hours, organized staff meetings, and graded assignments.
		</p>
		<hr>
</div>

<div class="projects">

<h1 class="projects-title">Projects</h1>

		<p class="title"> CensusUsage | MIT Program of Information Science </p>
		<p>
			CensusUsage is an open-source research project that I worked at the MIT Program of Information Science. 
			The project incorporates three different sources of data regarding the ACS survey: online news articles, 
			tweets through the Twitter API, and articles from the JSTOR academic journal database. <br>

			After cleaning and processing the corpuses, the project applies NLP techniques to better understand
			the different use cases of the ACS data. Topic modelling is performed on the different corpuses using
			both the NMF and LDA algorithms. Probability distributions are calculated for bigrams and trigrams. Finally
			there are various visualizations to show the different topics and word frequencies of the corpus.

			You can find the github repository <a href="https://github.com/MIT-Informatics/CensusUsage">here</a>.
		</p>

		<hr>

		<p class="title"> GeoCash | HackMIT 2018 : Plaid API 1st Place Winner </p>
		<p>
			Our project GeoCash won first place at HackMIT 2018 for the best usage of Plaid's API.
			GeoCash is a Meteor.js based webapp to help people to easily view where they are spending their money, through a
			location-based visualization. We were inspired by Plaid's challenge at HackMIT to "help people
			make more sense of their financial lives." <br>

			We integrated Plaid's API to access users' financial transactions, and Google Maps API as a medium to display a
			users flow of money. I worked on the backend of the webapp. I programmed in Node.js, using the Express framework. 
			I also worked on integrating the Plaid API to access the transactions information and sending the results to
			the frontend.

			The project is located <a href="https://devpost.com/software/geocash-5h0zlt">here</a> and the github repo is 
			<a href="https://github.com/shawnaness/geocash"> here</a>.
		</p>
		<hr>

		<p class="title"> Timewalk | HackHarvard 2019 </p>
		<p>
			TimeWalk is a mobile app that utilizes the HERE API to help keep track of where a user has traveled during a day.
			The mobile app creates a history of locations that the user has visited, including pictures, times, and place names. 

			TimeWalk was created fully in Javascript. I worked in Node.js to create the backend for our app, which integrated
			HERE API. I made requests to the API and passed the information to the front-end.
			
			The project is located <a href="https://github.com/dsam99/timewalk">here</a> and a demo is located 
			<a href="https://www.youtube.com/watch?time_continue=1&v=0VUWbDo44t0"> here</a>.
		</p>

</div>
