---
layout: default
author_profile: false
---
<div class="research">

<h1 class="research-title">Research</h1>

<div class="brown">
		<img class="brown-logo" src="{{ url }}/assets/img/brown.jpg" alt="Brown Logo">
		<p class="title"> BATS Lab | Machine Learning Research Assistant <br>
						  March 2019 - present </p>
		<p>
			I am a research assistant in Professor Bach's Lab. I am working on deriving new theoretical
			bounds for the K-nearest neighbors machine learning algorithm under various semi-supervised learning conditions. I am also
			working on collecting empirical results to match the bounds I have found so far. 
		</p>

		<hr>

		<p class="title"> Rubenstein Lab | Computational Chemistry Research Assistant <br>
						  November 2017 - present </p>
		<p>
			I work on the theory team for the DARPA Molecular Informatics Project in Professor Rubenstein's Lab. My project looks
			to better understand the information capacity and distances between molecules of chemical space. <br>

			I data mined and web scraped mass spectroscopy data from chemical databases and visualized the characteristics of the 
			mass space of the GDB13 dataset. I presented these results Brown Chemistry Department Undergraduate Research Fair on April 3, 
			2018. <br>

			I am currently working on understanding NMR spectroscopy space; I have implemented a pipeline to use the SPINUS prediction
			algorithm to generate NMR vectors. Our lab is collaborating with the Fourches' Lab to cluster these molecules and measure similarity. We 
			are currently working towards a journal submission.
		</p>

		<hr>
</div>

<div class="jpl">
		<img class="jpl-logo" src="{{ url }}/assets/img/nasa_jpl.jpg" alt="JPL Logo">  	
		<p class="title"> Nasa Jet Propulsion Laboratory | Deep Learning Research Intern  <br> 
						  June 2019 - August 2019 </p>
		<p>
			I was a deep learning research intern for the Mission Control Systems Deep Learning Group (393K). My project aimed to better understand
			and automate Mars Rover Data transmission. <br>

			I queried 3 APIs from the data transmission pipeline to the Ground Data System on Earth to construct a dataset of 
			historical data transmission. I implemented signal processing to compute relevant features and computed feature extraction to 
			evaluate the importance of these features. The data collection software that I engineered is currently in use by GDSA team 
			for data visualization tools. <br>

			I implemented a deep neural network to identify anomalous data transmission with 95% accuracy, which is a 4% increase from the 
			existing GDS software. I implemented an Adversarial Autoencoder and a One-Class SVM for anomaly detection in data transmission. 
			My trained models will be deployed in new GDS software and possibly the Mars 2020 mission. <br>

			Our abstract was accepted into the SciTech 2020 Conference, and our paper will published in January 2020.
		</p>
		<hr>
</div>


<div class="mit">
		<img class="mit-logo" src="{{ url }}/assets/img/mit.png" alt="MIT Logo">		
		<p class="title"> MIT Program for Information Science | Data Science Research Intern <br> 
						  May 2018 - March 2019 </p>

		<p>
			I was a data science research intern for the MIT Program of Information Science under Dr. Micah Altman. 
			I worked on the CensusUsage project, which looked to categorize different use cases of the American Community Survey (ACS) data. <br>

			I created the data pipeline to mine from multiple different sources: web news articles, Twitter API, and the JSTOR database. 
			I analyzed these datsets by using unsupervised topic models (LDA, NMF) to see if there was any relation between topics and 
			use cases. I visualized different probability metrics and statistics about the dataset. The open data source is located 
			<a href="https://github.com/MIT-Informatics/CensusUsage">here</a>.
			<br>
			The project was presented at the Simmons Institue Workshop "Data Privacy: From Foundations to Applications". You can find the linked abstract <a href=https://simons.berkeley.edu/talks/tba-55>here</a>.
			<br>
		</p>
		<hr>
</div>

</div>

<div class="teaching">

<h1 class="teaching-title">Teaching</h1>

		<p class="title"> CSCI 1470/2470 (Fall 2019) | Undergraduate TA </p>
		<p>
			I am currently an undergraduate teaching assistant for CSCI 1470/2470: Deep Learning (350 students). My class is an 
			undergraduate and graduate class that introduces deep learning, different models, and theory. I developed the 
			message passing neural network assignment. I hold weekly TA hours and Labs and help grade assignments. 
		</p>

		<hr>

		<p class="title"> CSCI 0180 (Spring 2019) | Head TA </p>
		<p>
			I was a head teaching assistant for CSCI 0180: An Integrated Introduction to Computer Science (180 students). My class 
			focused on introducing Object-Oriented programming and teaching data structures and algorithms in both Java and
			Scala. I managed 20 undergraduate TAs, organized meetings, developed course materials, and held TA hours. I oversaw the 
			grade database and the creation of weekly homework assignments. 
		</p>

		<hr>

		<p class="title"> CSCI 0030 (Fall 2018) | Head TA </p>
		<p>
			I was a head teaching assistant for CSCI 0030: Introduction to Computation for the Humanities and Social Sciences (26 students), 
			which taught data analysis and language modeling to humanities and social science students. I managed 4 undergraduate TAs and 
			developed a significant portion of the course. Since the course was new, I designed roughly half of the homework assignments
			and projects. I held TA hours, organized staff meetings, and graded assignments.
		</p>

</div>
