---
layout: default
---

{{ content }}

<div class="about">
	
	<img class="headshot" src="{{ url }}/assets/img/ny_pic.jpg" alt="headshot" style="border-radius: 50%;">
	<h2>About</h2>

	<p>
		Hi, I'm Dylan! I'm a safety researcher at OpenAI, where I'm working on making language models safer. 
		I'm interested in curating better/safer training data and monitoring models for harmful behavior.
	</p>

	<p>
		I completed my PhD in the Machine Learning Department at CMU, where I was fortunate to be advised by <a href="https://zicokolter.com/">Zico Kolter</a>. 
		Before that, I studied math and computer science at Brown University, where I was advised by <a href="http://cs.brown.edu/people/sbach/">Stephen Bach</a>.
		I've also spent time as a student researcher at Google Research, and as a research intern at GraySwan AI, Amazon AWS, the Bosch Center for AI, and NASA JPL.
		If you are interested in my work, feel free to get in touch. I am always happy to chat about research!
	</p>

	<h2>News</h2>
	<p>
		<ul>
			<li> [Mar 2026]: I've defended my PhD thesis on "Towards Safer and More Understandable AI Systems"!
			<li> [Dec 2025]: I'm traveling to NeurIPS 2025 to present work on Safety Pretraining, black-box monitoring of model behavior, and measuring diversity in data curation!
			<li> [Oct 2025]: I've joined OpenAI to make language models safer!
			<li> [May 2024]: Spending the summer at Google Research in NYC, where I'll be working on data curation for LLM pretraining.
			<li> [Apr 2024]: I'll be traveling to AISTATS to present "Auditing Fairness under Unobserved Confounding" and to ICLR to present work on providing generalization bounds for prompt engineering VLMs.
			<li> [Jul 2023]: I'm giving a talk on learning data-driven priors for BNNs that incorporates interpretable domain  qqknowledge at the KLR workshop @ ICML 2023!</li>
			<!-- <li> [Aug 2021]: Started my PhD in the Machine Learning Department @ CMU! </li> -->
		</ul>
	</p>
</div>
