---
layout: archive
---

{{ content }}

<div class="row">
  <div class="column">
	<img src="../assets/img/Dylan_Linkedin1.jpg" alt="headshot">
  </div>
  <div class="column">
  	<p>
		Hi, I'm Dylan!

		I'm a student and research assistant at Brown University, who is studying the fields of Computer Science and Applied Math. This past summer, I worked as a deep learning research intern at the NASA Jet Propulsion Laboratory. I currently am a research assistant in the Rubenstein Lab and Bach Lab at Brown.
	</p>

	<p>
		I am particularly interested in machine learning and deep learning. At Brown, I am investigating the theoretical characteristics of information space and different machine learning algorithms in a semi-supervised learning setting.
	</p>

	<p>
		At school, I am on the organizing team of the Brown Data Science club and a writer for the Ursa Sapiens Blog. In my free time, I love to play tennis on the Brown Club Tennis Team and play soccer.

		If you have any questions about my work, feel free to reach out!
  	</p>
  </div>
</div>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
