---
layout: default
---

{{ content }}

<div class="about">
	
	<img class="headshot" src="{{ url }}/assets/img/Dylan_LinkedIn1.jpg" alt="headshot" border-radius=50%>

	<p>
		Hi, I'm Dylan!

		I'm a junior studying Math and Computer Science at Brown University. I am from Tacoma, Washington. 
	</p>


	<p>
		I am particularly interested in machine learning, deep learning, 
		and learning theory. I currently am a research assistant in <a href="http://cs.brown.edu/people/sbach/">Stephen Bach's BATS Lab</a>, 
		focusing on theoretical machine learning and weak supervision. I am also a research 
		assistant for Brenda Rubenstein's Lab, working on the 
		<a href="https://molecularcomputing.info">Brown Molecular Informatics Project</a>.
	</p>

	<p>
		Outside of my studies and research, I play for the Brown Club Tennis Team and am a Meiklejohn peer advisor. Some other things I enjoy:
		<ul>
			<li> tennis and soccer </li>
			<li> viola </li>
			<li> travelling </li>
			<li> cooking and eating good food </li>
			<li> hiking and kayaking </li>
		</ul>
	</p>
	
	<p>
		If you have any questions or are interested in my work, feel free to get in touch!
	</p>
</div>
