---
layout: default
author_profile: false
---

<div class="publications">

	<h2 class="publications-title"> Publications </h2>

		<h3 class="abstracts-title">Conference Papers</h3>	

			<p class="title"> Semi-Supervised Aggregation of Dependent Weak Supervision Sources with Performance Guarantees [<a href="http://proceedings.mlr.press/v130/mazzetto21a/mazzetto21a.pdf" target="_blank">pdf</a>, 
				<a href="https://github.com/BatsResearch/mazzetto-aistats21-code" target="_blank">code</a>]<br>
				Alessio Mazzetto, <strong>Dylan Sam</strong>, Andrew Park, Eliezer Upfal, Stephen H Bach <br> 
				<i>AISTATS</i>, 2021</p>

			<p class="title"> Automated Data Accountability for the Mars Science Laboratory [<a href="{{ url }}/assets/aeroconf_jpl_paper.pdf" target="_blank">pdf</a>, 
				<a href="https://github.com/dsam99/gdsa_machine_learning" target="_blank">code</a>] <br>
				Ryan Alimo, <strong>Dylan Sam</strong>, Dounia Lakhmiri, Brian Kahovec, Dariush Divsalar <br> 
				<i>IEEE Aerospace Conference</i>, 2021</p>

		<h3 class="abstracts-title">Workshop Papers</h3>	

			<p class="title"> Hierarchical Clustering Analysis of Spectral Fingerprints for Cheminformatics [<a href="https://ml4molecules.github.io/papers2020/ML4Molecules_2020_paper_29.pdf" target="_blank">pdf</a>] <br>
				<strong>Dylan Sam</strong>, Brenda M Rubenstein <br>
				<i>NeurIPS Machine Learning for Molecules Workshop</i>, 2020

		<h3 class="papers-title">Preprints</h3>

			<p class="title"> Adversarial Multi Class Learning under Weak Supervision with Performance Guarantees <br> 
				Cyrus Cousins*, Alessio Mazzetto*, <strong>Dylan Sam</strong>, Stephen H Bach, and Eliezer Upfal <br>
				<i>Under Review</i> <br>
			</p>

			<p class="title"> Fingerprinting Spectral Space <br> 
				<strong>Dylan Sam</strong>, Xinhao Li, Phyo Phyo Zin, Kevin Guo, Denis Fourches, Brenda M. Rubenstein <br> 
				<i>Under Review</i> <br>
			</p>

			<p class="title"> Learning from Dependent Weak Supervision Sources <br> 
				<strong>Dylan Sam</strong><br> 
				<i>Undergraduate Honors Thesis, 2021</i> <br>
			</p>

</div>	
