---
layout: default
author_profile: false
---

<div class="publications">

	<h1 class="publications-title"> Publications </h1>

		<h2 class="abstracts-title">2025 </h2>	

			<p class="title"> <b>Analyzing Similarity Metrics for Data Selection for Language Model Pretraining</b><br> 
				<strong>Dylan Sam</strong>, Ayan Chakrabarti, Afshin Rostamizadeh, Srikumar Ramalingam, Gui Citovsky, Sanjiv Kumar<br>
				[<a href="http://arxiv.org/abs/2502.02494" target="_blank">pdf</a>]
			</p>
			
			<p class="title"> <b>Predicting the Performance of Black-box LLMs thorugh Self-Queries</b><br> 
				<strong>Dylan Sam</strong>, Marc Finzi, and J. Zico Kolter<br>
				ICML Next Generation of AI Safety Workshop, 2024 <br>
				[<a href="https://arxiv.org/abs/2501.01558" target="_blank">pdf</a>, <a href="https://github.com/dsam99/QueRE" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Open Challenges in Applying Language Models to 3D Molecular Data</b><br> 
				Nate Gruver, Marc Finzi, <strong>Dylan Sam</strong>, J. Zico Kolter, Ben Athiwaratkun, and Andrew Gordon Wilson<br>
				<i>Under Review</i> <br>
			</p>

		<h2 class="abstracts-title">2024 </h2>	

			<p class="title"> <b>Finetuning CLIP to Reason about Pairwise Differences </b><br> 
				<strong>Dylan Sam</strong>, Devin Willmott, Joao D. Semedo, and J. Zico Kolter<br>
				[<a href="https://arxiv.org/abs/2409.09721" target="_blank">pdf</a>, <a href="https://github.com/dsam99/pc_clip" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Understanding Prompt Engineering Does Not Require Rethinking Generalization </b><br> 
				Victor Akinawade, Yiding Jiang, <strong>Dylan Sam</strong>, and J. Zico Kolter<br>
				<i>International Conference on Learning Representations (ICLR), 2024</i>   <br>
				<i>ICML Sampling and Optimization in Discrete Spaces, 2023</i> <font color="red"> <strong><em> (Outstanding Paper) </em></strong></font>   <br>
				[<a href="https://arxiv.org/abs/2310.03957" target="_blank">pdf</a>]
			</p>

			<p class="title"> <b>Auditing Fairness under Unobserved Confounders</b><br>
				Yewon Byun, <strong>Dylan Sam</strong>, Michael Oberst, Zachary C. Lipton, and Bryan Wilder.<br>
				<i>International Conference on Artificial Intelligence and Statistics (AISTATS), 2024</i> <br>
				[<a href="https://arxiv.org/abs/2403.14713" target="_blank">pdf</a>, <a href="https://github.com/lasilab/inequity-bounds" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Computing Low-Entropy Couplings for Large-Support Distributions</b><br> 
				Samuel Sokota, <strong>Dylan Sam</strong>, Christian Schroeder de Witt, Spencer Compton, Jakob Nicolaus Foerster, and J. Zico Kolter<br>
				<i>Conference on Uncertainty in Artificial Intelligence (UAI), 2024</i> <br>
				[<a href="https://arxiv.org/abs/2405.19540" target="_blank">pdf</a>, <a href="https://github.com/ssokota/mec" target="_blank">code</a>]
			</p>

		<h2 class="abstracts-title">2023 </h2>	

			<p class="title"> <b>Bayesian Neural Networks with Domain Knowledge Priors</b><br> 
				<strong>Dylan Sam*</strong>, Rattana Pukdee*, Daniel P. Jeong, Yewon Byun, and J. Zico Kolter<br>
				<i>ICML Knowledge and Logical Reasoning Workshop, 2023</i> <font color="red"> <strong><em>(Oral) </em></strong> </font> <br>
				[<a href="https://arxiv.org/abs/2402.13410.pdf" target="_blank">pdf</a>, <a href="https://github.com/dsam99/banana" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Learning with Explanation Constraints </b><br> 
				<strong>Dylan Sam*</strong>, Rattana Pukdee*, J. Zico Kolter, Maria-Florina Balcan, and Pradeep Ravikumar<br>
				<i>Neural Information Processing Systems (NeurIPS), 2023</i> <br>
				[<a href="https://arxiv.org/abs/2303.14496" target="_blank">pdf</a>]
			</p>

			<p class="title"> <b>Label Propagation with Weak Supervision </b><br> 
				<strong>Dylan Sam*</strong>, Rattana Pukdee*, Maria-Florina Balcan, and Pradeep Ravikumar<br>
				<i>International Conference on Learning Representations (ICLR), 2023</i> <br>
				[<a href="https://arxiv.org/abs/2210.03594" target="_blank">pdf</a>,
				<a href="https://github.com/dsam99/label_propagation_weak_supervision" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Losses over Labels: Weakly Supervised Learning via Direct Loss Construction </b><br> 
				<strong>Dylan Sam</strong> and J. Zico Kolter<br>
				<i>AAAI Conference on Artificial Intelligence, 2023</i> <br>
				[<a href="https://arxiv.org/abs/2212.06921" target="_blank">pdf</a>, 
				<a href="https://github.com/dsam99/LoL" target="_blank">code</a>] 				
			</p>

		<h2 class="abstracts-title">2022 </h2>	

			<p class="title"> <b>Improving self-supervised representation learning via sequential adversarial masking </b><br> 
				<strong>Dylan Sam</strong>, Min Bai, Tristan McKinney, and Li Erran Li<br>
				<i>NeurIPS 2022 Workshop: Self-Supervised Learning - Theory and Practice, 2022</i> <br>
				[<a href="https://sslneurips22.github.io/paper_pdfs/paper_54.pdf" target="_blank">pdf</a>]
			</p>

		<h2 class="abstracts-title">2021 </h2>	

			<p class="title"> <b>Adversarial Multi Class Learning under Weak Supervision with Performance Guarantees </b><br> 
				Alessio Mazzetto*, Cyrus Cousins*, <strong>Dylan Sam</strong>, Stephen H Bach, and Eli Upfal <br>
				<i>International Conference on Machine Learning (ICML), 2021</i> <br>
				[<a href="http://cs.brown.edu/people/sbach/files/mazzetto-icml21.pdf" target="_blank">pdf</a>, 
				<a href="https://github.com/BatsResearch/mazzetto-icml21-code" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Semi-Supervised Aggregation of Dependent Weak Supervision Sources with Performance Guarantees </b> <br>
				Alessio Mazzetto, <strong>Dylan Sam</strong>, Andrew Park, Eli Upfal, and Stephen H Bach <br> 
				<i>International Conference on Artificial Intelligence and Statistics (AISTATS)</i>, 2021 <br>
				[<a href="http://proceedings.mlr.press/v130/mazzetto21a/mazzetto21a.pdf" target="_blank">pdf</a>, 
				<a href="https://github.com/BatsResearch/mazzetto-aistats21-code" target="_blank">code</a>]
			</p>

			<p class="title"> <b>Learning from Dependent Weak Supervision Sources </b><br> 
				<strong>Dylan Sam</strong><br> 
				<i>Undergraduate Honors Thesis</i>, 2021 <br>
				[<a href="https://cs.brown.edu/research/pubs/theses/ugrad/2021/sam.dylan.pdf" target="_blank">pdf</a>]
			</p>
			
			<p class="title"> <b>Automated Data Accountability for the Mars Science Laboratory </b><br>
				Ryan Alimo, <strong>Dylan Sam</strong>, Dounia Lakhmiri, Brian Kahovec, and Dariush Divsalar <br> 
				<i>IEEE Aerospace Conference</i>, 2021 <br>
				[<a href="{{ url }}/assets/aeroconf_jpl_paper.pdf" target="_blank">pdf</a>, 
				<a href="https://github.com/dsam99/gdsa_machine_learning" target="_blank">code</a>] 
			</p>

		<h2 class="abstracts-title">2020 </h2>	

			<p class="title"> <b>Hierarchical Clustering Analysis of Spectral Fingerprints for Cheminformatics </b> <br>
				<strong>Dylan Sam</strong> and Brenda M Rubenstein <br>
				<i>NeurIPS Machine Learning for Molecules Workshop</i>, 2020 <br>
				[<a href="https://ml4molecules.github.io/papers2020/ML4Molecules_2020_paper_29.pdf" target="_blank">pdf</a>]
			</p>

</div>	
