---
layout: default
author_profile: false
---

<div class="Brown">
	<div class="image_col" width=0.2>
		<img src="dsam99.github.io/assets/img/brown.jpg" alt="Brown Logo">
	</div>
	<div class="desc_col" width=0.8>
		<p> BATS Lab | Machine Learning Research Assistant
			March 2019 - present
		</p>

		<p> Rubenstein Lab | Computational Chemistry Research Assistant
			November 2017 - present
		</p>
	</div>	
</div>

<br>

<div class="JPL">
	<div class="image_col" width=0.2>
		<img src="dsam99.github.io/assets/img/nasa_jpl.jpg" alt="JPL Logo">  	
	</div>
	<div class="desc_col" width=0.8>
		<p> Nasa Jet Propulsion Laboratory | Deep Learning Research Intern (393K)
			June 2019 - August 2019
		</p>
	</div>
</div>

<br>

<div class="MIT">
	<div class="image_col" width=0.2>
		<img src="dsam99.github.io/assets/img/mit.jpg" alt="MIT Logo">		
	</div>
	<div class="desc_col" width=0.8>
		<p> MIT Program for Information Science | Data Science Research Intern 
			May 2018 - May 2019
		</p>
	</div>
</div>