---
layout: default
author_profile: false
---
<div class="research">

	<h1 class="research-title">Research</h1>

	<div class="brown">
			<img class="brown-logo" src="{{ url }}/assets/img/brown.jpg" alt="Brown Logo">
			
			<p class="title"> 
				<strong>BATS Lab | Machine Learning Research Assistant </strong><br>
				March 2019 - present 
			</p>
			
			<p>
				I am working on deriving new theoretical bounds to explain phenomena in weak supervision and 
				domain adaptation. I develop experiments to illustrate the role of the symmetric divergence 
				between two domains as a condition for learning. I attend weekly group meetings and theory meetings 
				to discuss various topics in weak supervision and theoretical machine learning.
 
			</p>

			<hr>

			<p class="title"> 
				<strong>Rubenstein Lab | Computational Chemistry Research Assistant </strong><br>
				November 2017 - present 
			</p>

			<p>
				I work on developing theory for the Brown Molecular Informatics Project. My project looks to better 
				understand the information capacity of molecules in chemical space. <br> <br>
				
				I extract a dataset of molecules from the GDB-13 database and project the dataset into mass spectra
				space by using the RDKit Cheminformatics and Machine Learning package. I perform analysis on the
				spacing between the datasets mass spectroscopy data. I implemented a pipeline to use the SPINUS
				prediction algorithm to generate NMR spectra. I create vectors of molecules representing the 
				concatenation of mass spectra and NMR spectra to analyze a larger portion of chemical space.
			</p>
			
			<hr>
	</div>

	<div class="jpl">
			<img class="jpl-logo" src="{{ url }}/assets/img/nasa_jpl.jpg" alt="JPL Logo">  	
			
			<p class="title"> 
				<strong> NASA Jet Propulsion Laboratory | Deep Learning Research Intern  </strong><br> 
				June 2019 - August 2019 
			</p>
			
			<p>
				This past summer, I was a deep learning research intern for the Mission Control Systems Deep Learning Group (393K). My project
				aimed to better understand and automate the Mars Rover Data transmission pipeline. <br> <br>

				I built a data collector from 3 APIs from the data pipeline to construct a dataset of current and historical data transmissions from
				the Curiosity Rover. I implemented signal processing to compute relevant features and computed feature extraction to evaluate 
				the importance of these features. The data collection software that I engineered is currently in production for the GDSA team
				for data visualization tools. <br> <br>

				I implemented a deep neural network to identify failed data transmission with 95% accuracy, which is a 4% increase from the 
				existing GDS software. I implemented an Adversarial Autoencoder and a One-Class SVM for anomaly detection in data transmission. 
				My trained models are used by the GDSA team in real time analysis of data transmission and will likely be integrated for the 
				Mars 2020 mission. <br> <br>
			</p>

			<hr>
	</div>


	<div class="mit">
			<img class="mit-logo" src="{{ url }}/assets/img/mit.png" alt="MIT Logo">		
			
			<p class="title">
				<strong>MIT Program for Information Science | Data Science Research Intern  </strong><br> 
				May 2018 - September 2018</p>

			<p>
				I was a Data Science Intern for the MIT Program of Information Science during the summer of 2018. 
				I built the data pipeline to extract text data from multiple different sources, including news articles, the Twitter API, 
				and the JSTOR database and create a training corpus. I implemented the data processing and text cleaning pipeline to 
				convert text data into corresponding TF-IDF vectors. I performed statistical analysis on word frequencies and built n-grams models. 
			</p>

			<p class="title">
				<strong>MIT Program for Information Science | Data Science Research Assistant </strong><br> 
				September 2018 - March 2019 </p>

			<p>
				Following my internship, I worked as a Data Science Research Assistant for the MIT Program on Information Science mentored by Micah 
				Altman, the director of research. <br> <br>

				I worked on the CensusUsage project, which is an open source research project aiming to categorize different use cases of the 
				American Community Survey (ACS) data. Using the datasets that I had created, I analyzed the corpuses using unsupervised topic
				models based on LDA and NMF to identify articles and topics that fall within our pre-determined use cases. I implemented 
				a LSTM as an alternative method to classify articles' use cases. The open source project can be found 
				<a href="https://github.com/MIT-Informatics/CensusUsage">here</a>.
			</p>
			<hr>
	</div>

</div>

<div class="publications">

	<h1 class="publications-title">Publications</h1>

	<h2 class="abstracts-title">Workshops & Abstracts</h2>	

			<p class="title"> <a href=https://simons.berkeley.edu/talks/tba-55>Matching Uses and Data Protections for Government Data</a><br>
				Micah Altman, Cavan Capps, <strong>Dylan Sam</strong>, Zachary Lizee<br>
				<i>Data Privacy: From Foundations to Applications</i>, Berkeley, CA, 2019.</p>

			<p class="title"> <a href=https://openreview.net/forum?id=SygawpcMaS>[Re] No Press Diplomacy: Modeling Multi-Agent Gameplay</a><br>
				Daniel Ritter, <strong>Dylan Sam</strong>, Kevin Du, Shamay G Samuel, Cody West, Aaron Zhang <br>
				<i>NeuRIPS Reproducibility Challenge</i>, Vancouver, Canada, 2019.</p>

	<h2 class="papers-title">Journal & Conference Papers</h2>

			<p class="title"> Data Accountablility and Uncertainty Analysis in the Mars Science Lab <br> 
				Brian Kahovec*, Ryan Alimo*, <strong>Dylan Sam*</strong>, Ameerah Chowdhury, Dariush Divsalar <br> 
				<i>AIAA SciTech Forum</i>, Orlando, FL, 2020 <br></p>

	<h2 class="papers-title">Preprints</h2>

			<p class="title"> The Utility of Chemical Space for Molecular Information Storage <br> 
				<strong>Dylan Sam</strong>, Xinhao Li, Phyo Phyo Zin, Kevin Guo, Denis Fourches, Brenda M. Rubenstein <br> 
				(In progress; to be submitted in next few months) <br>
			</p>
			
			<p>[* indicates equal contribution] </p>

			<hr>
</div>	
