---
layout: default
author_profile: false
---

<div class="teaching">

<h1 class="teaching-title">Teaching</h1>

<h2>CMU:</h2>
	<ul>
		<li> 10-422: Foundations of Learning, Game Theory, and Their Connections (Spring 2025) | Graduate TA </li>
		<li> 10-716: Advanced Machine Learning (Spring 2023) | Graduate TA </li>
	</ul>

<h2>Brown University:</h2>
	<ul>
		<li> CS1420: Machine Learning (Spring 2021) | Undergraduate TA </li>
		<li> CS1420: Machine Learning (Spring 2020) | Head TA </li>
		<li> CS1470: Deep Learning (Fall 2019) | Undergraduate TA </li>
		<li> CS0180: Data Structures and Algorithms (Spring 2019) | Head TA </li>
		<li> CS0030: CS for Humanities and Social Sciences (Fall 2018) | Head TA </li>
	</ul>
</div>